h1, p {
    font-family: 'Poppins', sans-serif;
    color: #201E1F;
}

.header {
    text-shadow: 0 0 0 5px rgba(0, 0, 0, 0.25);
}
.canada, .opcionesDeInmigracion {
    color: #D72229;
    font-family: 'Poppins';
    font-weight: bold;
    font-style: normal;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}