* {
    font-family: 'Quicksand', sans-serif;
    opacity: 1;
}
.navbar {
    background-color: #FFF!important;
    opacity: 1;
    font-size: 1.2rem;   
}

.navbar-brand {
    font-size: 1.2rem!important;
    opacity: 1;
    
}

.nav-text, .nav-link {
    color: #D72229!important;
    text-transform: uppercase;
}

.navbar-tooltip {
    --bs-tooltip-bg: var(--bs-danger);
}

ul li {
    padding-right: 0.5rem;
    font-weight:400;    
}

.nav-link {
    border-top: solid 2px #FFF!important;
    border-bottom: solid 2px #FFF!important;
    transition: all 0.4s ease-in-out;
}
.nav-link:hover {
    border-bottom: solid 2px #D72229!important;
    transition: ease-in;
}

.dropdown-item:hover {
    background-color: #D72229;
    color: #FFF;
}